<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>

<body>
    <form method="post" action="index.html">
        <div class="box">
            <h1>Login</h1>
            <label for="user">User</label>
            <input type="text" name="user" class="user" placeholder="User" />
            <label for="password">Password</label>
            <input type="password" name="password" class="password" placeholder="Password" />
            <a href="#">
                <div class="btn">Sign In</div>
            </a> <!-- End Btn -->
            <!--
            <a href="#">
                <div id="btn2">Sign Up</div>
            </a>  End Btn2
            -->
        </div> <!-- End Box -->
    </form>

</body>

</html>